@{
    ViewBag.Title = "Home Page";
}

<style>
    .wrap {
        word-wrap: break-word;
        white-space: normal;
    }

    #nodeid {
        width: 30px;
    }
</style>
<div class="jumbotron">
    <h1>Redis Test</h1>
    <p class="lead">Press the buttons to get data. First time the cache is empty.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default" onclick="get(1,1)">Get node</a>
        <input id="nodeid" type="text" class="form-horizontal">
        <span id="time1"></span>
        <div class="wrap" id="data1"></div>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default" onclick="get(2,0)">Get all nodes</a>
        <span id="time2"></span>
        <div class="wrap" id="data2"></div>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default" onclick="get(3,-1)">Delete all</a>
        <span id="time3"></span>
        <div class="wrap" id="data3"></div>
    </div>
</div>

<script>
    var baseuri = 'api/data';

    function get(elementId, dataId) {
        var uri;
        if (dataId == 0) {
            uri = baseuri;
        }
        else if (dataId == -1) {
            uri = baseuri + '/' + 10;
        }
        else {
            uri = baseuri + '/' + $('#nodeid').val();
        }
        var start = new Date().getTime();
        $.getJSON(uri)
            .done(function (data) {
                $('#data' + elementId).text(JSON.stringify(data, undefined, 2));
            })
            .fail(function (jqXhr, textStatus, err) {
                $('#data' + elementId).text('Error: ' + err);
            })
            .always(function () {
                var end = new Date().getTime();
                var time = end - start;
                $('#time' + elementId).text('Time: ' + time);
            });
    }
</script>,